@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bingoCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  background-color: #242424;
}

.bingoCardTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-size: 35px;
}

.bingoCardContent {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0.5rem;
}

.bingoCardItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #d1d5db;
  border-width: 1px;
  padding: 4px;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
